body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1344px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2872_img {
  position:absolute;
  left:0px;
  top:0px;
  width:440px;
  height:880px;
}
#u2872 {
  position:absolute;
  left:152px;
  top:28px;
  width:440px;
  height:880px;
}
#u2873 {
  position:absolute;
  left:0px;
  top:432px;
  width:440px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2874 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2875_div {
  position:absolute;
  left:0px;
  top:0px;
  width:395px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u2875 {
  position:absolute;
  left:175px;
  top:126px;
  width:395px;
  height:20px;
  color:#FFFFFF;
}
#u2876 {
  position:absolute;
  left:0px;
  top:2px;
  width:395px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2877_div {
  position:absolute;
  left:0px;
  top:0px;
  width:395px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u2877 {
  position:absolute;
  left:175px;
  top:126px;
  width:395px;
  height:20px;
  color:#FFFFFF;
}
#u2878 {
  position:absolute;
  left:0px;
  top:2px;
  width:395px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2879_div {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Light', 'PingFang SC Light', 'PingFang SC';
  font-weight:201;
  font-style:normal;
  font-size:11px;
  color:#FFFFFF;
  text-align:right;
}
#u2879 {
  position:absolute;
  left:502px;
  top:130px;
  width:35px;
  height:13px;
  font-family:'PingFangSC-Light', 'PingFang SC Light', 'PingFang SC';
  font-weight:201;
  font-style:normal;
  font-size:11px;
  color:#FFFFFF;
  text-align:right;
}
#u2880 {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  word-wrap:break-word;
}
#u2881_div {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Light', 'PingFang SC Light', 'PingFang SC';
  font-weight:201;
  font-style:normal;
  font-size:11px;
  color:#FFFFFF;
}
#u2881 {
  position:absolute;
  left:347px;
  top:130px;
  width:51px;
  height:13px;
  font-family:'PingFangSC-Light', 'PingFang SC Light', 'PingFang SC';
  font-weight:201;
  font-style:normal;
  font-size:11px;
  color:#FFFFFF;
}
#u2882 {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  white-space:nowrap;
}
#u2883_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:10px;
}
#u2883 {
  position:absolute;
  left:181px;
  top:131px;
  width:16px;
  height:10px;
}
#u2884 {
  position:absolute;
  left:0px;
  top:-3px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2885_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:9px;
}
#u2885 {
  position:absolute;
  left:202px;
  top:132px;
  width:14px;
  height:9px;
}
#u2886 {
  position:absolute;
  left:0px;
  top:-4px;
  width:14px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2887_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:11px;
}
#u2887 {
  position:absolute;
  left:539px;
  top:131px;
  width:26px;
  height:11px;
}
#u2888 {
  position:absolute;
  left:0px;
  top:-2px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2889_img {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:14px;
}
#u2889 {
  position:absolute;
  left:493px;
  top:129px;
  width:8px;
  height:14px;
}
#u2890 {
  position:absolute;
  left:0px;
  top:-1px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2891_div {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#FFFFFF;
}
#u2891 {
  position:absolute;
  left:302px;
  top:156px;
  width:64px;
  height:33px;
  font-size:18px;
  color:#FFFFFF;
}
#u2892 {
  position:absolute;
  left:2px;
  top:6px;
  width:60px;
  word-wrap:break-word;
}
#u2893_div {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#FFD301;
}
#u2893 {
  position:absolute;
  left:376px;
  top:156px;
  width:64px;
  height:33px;
  font-size:18px;
  color:#FFD301;
}
#u2894 {
  position:absolute;
  left:2px;
  top:6px;
  width:60px;
  word-wrap:break-word;
}
#u2895 {
  position:absolute;
  left:181px;
  top:200px;
  width:386px;
  height:554px;
  overflow:hidden;
}
#u2895_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:386px;
  height:554px;
  overflow:auto;
  -webkit-overflow-scrolling:touch;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  background-image:none;
}
#u2895_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u2896_img {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:31px;
}
#u2896 {
  position:absolute;
  left:241px;
  top:7px;
  width:120px;
  height:30px;
}
#u2897 {
  position:absolute;
  left:2px;
  top:7px;
  width:116px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2898 {
  position:absolute;
  left:2px;
  top:4px;
}
#u2898_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u2898_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u2899 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2900_div {
  position:absolute;
  left:0px;
  top:0px;
  width:359px;
  height:36px;
  background:inherit;
  background-color:rgba(142, 142, 147, 0.117647058823529);
  border:none;
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:17px;
  color:#FFFFFF;
}
#u2900 {
  position:absolute;
  left:0px;
  top:0px;
  width:359px;
  height:36px;
  font-size:17px;
  color:#FFFFFF;
}
#u2901 {
  position:absolute;
  left:0px;
  top:10px;
  width:359px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2902_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:19px;
}
#u2902 {
  position:absolute;
  left:337px;
  top:8px;
  width:12px;
  height:19px;
}
#u2903 {
  position:absolute;
  left:0px;
  top:2px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2904 {
  position:absolute;
  left:31px;
  top:3px;
  width:288px;
  height:30px;
}
#u2904_input {
  position:absolute;
  left:0px;
  top:0px;
  width:288px;
  height:30px;
  background-color:transparent;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:17px;
  text-decoration:none;
  color:#8E8E93;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u2905_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:14px;
}
#u2905 {
  position:absolute;
  left:10px;
  top:11px;
  width:14px;
  height:14px;
}
#u2906 {
  position:absolute;
  left:0px;
  top:-1px;
  width:14px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2898_state1 {
  position:relative;
  left:0px;
  top:0px;
  visibility:hidden;
  background-image:none;
}
#u2898_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u2907 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2908_div {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:17px;
  color:#F6A623;
}
#u2908 {
  position:absolute;
  left:281px;
  top:0px;
  width:78px;
  height:36px;
  font-size:17px;
  color:#F6A623;
}
#u2909 {
  position:absolute;
  left:0px;
  top:10px;
  width:78px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2910_div {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:17px;
  color:#FFFFFF;
  text-align:right;
}
#u2910 {
  position:absolute;
  left:289px;
  top:8px;
  width:60px;
  height:20px;
  font-size:17px;
  color:#FFFFFF;
  text-align:right;
}
#u2911 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  word-wrap:break-word;
}
#u2912 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2913_div {
  position:absolute;
  left:0px;
  top:0px;
  width:281px;
  height:36px;
  background:inherit;
  background-color:rgba(142, 142, 147, 0.117647058823529);
  border:none;
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:17px;
  color:#FFFFFF;
}
#u2913 {
  position:absolute;
  left:0px;
  top:0px;
  width:281px;
  height:36px;
  font-size:17px;
  color:#FFFFFF;
}
#u2914 {
  position:absolute;
  left:0px;
  top:10px;
  width:281px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2915_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:19px;
}
#u2915 {
  position:absolute;
  left:259px;
  top:8px;
  width:12px;
  height:19px;
}
#u2916 {
  position:absolute;
  left:0px;
  top:2px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2917 {
  position:absolute;
  left:31px;
  top:3px;
  width:210px;
  height:30px;
}
#u2917_input {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:30px;
  background-color:transparent;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:17px;
  text-decoration:none;
  color:#8E8E93;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u2918_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:14px;
}
#u2918 {
  position:absolute;
  left:10px;
  top:11px;
  width:14px;
  height:14px;
}
#u2919 {
  position:absolute;
  left:0px;
  top:-1px;
  width:14px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2920 {
  position:fixed;
  right:60px;
  bottom:50px;
  width:30px;
  height:62px;
  overflow:hidden;
}
#u2920_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:62px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u2920_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u2921_div {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
  background:inherit;
  background-color:rgba(248, 248, 248, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#D7D7D7;
  text-align:center;
}
#u2921 {
  position:absolute;
  left:0px;
  top:31px;
  width:30px;
  height:30px;
  font-size:12px;
  color:#D7D7D7;
  text-align:center;
}
#u2922 {
  position:absolute;
  left:2px;
  top:0px;
  width:26px;
  word-wrap:break-word;
}
#u2923 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2924_div {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:52px;
  background:inherit;
  background-color:rgba(248, 248, 248, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'iconfont Regular', 'iconfont';
  font-weight:500;
  font-style:normal;
  font-size:36px;
  color:#D7D7D7;
  text-align:center;
}
#u2924 {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:52px;
  font-family:'iconfont Regular', 'iconfont';
  font-weight:500;
  font-style:normal;
  font-size:36px;
  color:#D7D7D7;
  text-align:center;
}
#u2925 {
  position:absolute;
  left:2px;
  top:18px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2926_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:20px;
}
#u2926 {
  position:absolute;
  left:2px;
  top:5px;
  width:22px;
  height:20px;
  color:#FACD13;
}
#u2927 {
  position:absolute;
  left:2px;
  top:2px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2928_img {
  position:absolute;
  left:0px;
  top:0px;
  width:382px;
  height:258px;
}
#u2928 {
  position:absolute;
  left:-10px;
  top:598px;
  width:382px;
  height:258px;
}
#u2929 {
  position:absolute;
  left:2px;
  top:121px;
  width:378px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2930_img {
  position:absolute;
  left:0px;
  top:0px;
  width:382px;
  height:258px;
}
#u2930 {
  position:absolute;
  left:-10px;
  top:328px;
  width:382px;
  height:258px;
}
#u2931 {
  position:absolute;
  left:2px;
  top:121px;
  width:378px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2932_img {
  position:absolute;
  left:0px;
  top:0px;
  width:382px;
  height:258px;
}
#u2932 {
  position:absolute;
  left:-10px;
  top:55px;
  width:382px;
  height:258px;
}
#u2933 {
  position:absolute;
  left:2px;
  top:121px;
  width:378px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2934_img {
  position:absolute;
  left:0px;
  top:0px;
  width:382px;
  height:258px;
}
#u2934 {
  position:absolute;
  left:-8px;
  top:869px;
  width:382px;
  height:258px;
}
#u2935 {
  position:absolute;
  left:2px;
  top:121px;
  width:378px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2936_div {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u2936 {
  position:absolute;
  left:139px;
  top:1149px;
  width:107px;
  height:17px;
  color:#FFFFFF;
}
#u2937 {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  white-space:nowrap;
}
#u2938 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2939_img {
  position:absolute;
  left:0px;
  top:0px;
  width:393px;
  height:56px;
}
#u2939 {
  position:absolute;
  left:426px;
  top:532px;
  width:392px;
  height:55px;
  font-size:18px;
  color:#FFFFFF;
}
#u2940 {
  position:absolute;
  left:0px;
  top:20px;
  width:392px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2941_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:29px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 122, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#007AFF;
}
#u2941 {
  position:absolute;
  left:779px;
  top:549px;
  width:29px;
  height:29px;
  font-size:18px;
  color:#007AFF;
}
#u2942 {
  position:absolute;
  left:0px;
  top:4px;
  width:29px;
  word-wrap:break-word;
}
#u2943_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:29px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 122, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#007AFF;
}
#u2943 {
  position:absolute;
  left:694px;
  top:549px;
  width:29px;
  height:29px;
  font-size:18px;
  color:#007AFF;
}
#u2944 {
  position:absolute;
  left:0px;
  top:4px;
  width:29px;
  word-wrap:break-word;
}
#u2945_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:29px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 122, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#007AFF;
}
#u2945 {
  position:absolute;
  left:608px;
  top:549px;
  width:29px;
  height:29px;
  font-size:18px;
  color:#007AFF;
}
#u2946 {
  position:absolute;
  left:0px;
  top:4px;
  width:29px;
  word-wrap:break-word;
}
#u2947_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:29px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 122, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#007AFF;
}
#u2947 {
  position:absolute;
  left:522px;
  top:549px;
  width:29px;
  height:29px;
  font-size:18px;
  color:#007AFF;
}
#u2948 {
  position:absolute;
  left:0px;
  top:4px;
  width:29px;
  word-wrap:break-word;
}
#u2949_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:29px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 122, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#007AFF;
}
#u2949 {
  position:absolute;
  left:437px;
  top:549px;
  width:29px;
  height:29px;
  font-size:18px;
  color:#007AFF;
}
#u2950 {
  position:absolute;
  left:0px;
  top:4px;
  width:29px;
  word-wrap:break-word;
}
#u2951_img {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:54px;
}
#u2951 {
  position:absolute;
  left:493px;
  top:690px;
  width:54px;
  height:54px;
}
#u2952 {
  position:absolute;
  left:2px;
  top:19px;
  width:50px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2953_div {
  position:absolute;
  left:0px;
  top:0px;
  width:648px;
  height:285px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  text-align:left;
}
#u2953 {
  position:absolute;
  left:696px;
  top:198px;
  width:648px;
  height:285px;
  font-size:20px;
  text-align:left;
}
#u2954 {
  position:absolute;
  left:2px;
  top:2px;
  width:644px;
  word-wrap:break-word;
}
#u2955 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2956_img {
  position:absolute;
  left:0px;
  top:0px;
  width:393px;
  height:56px;
}
#u2956 {
  position:absolute;
  left:175px;
  top:756px;
  width:392px;
  height:55px;
  font-size:18px;
  color:#FFFFFF;
}
#u2957 {
  position:absolute;
  left:0px;
  top:20px;
  width:392px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2958_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u2958 {
  position:absolute;
  left:264px;
  top:767px;
  width:40px;
  height:40px;
  font-size:18px;
  color:#007AFF;
}
#u2959 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2960_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:29px;
}
#u2960 {
  position:absolute;
  left:450px;
  top:772px;
  width:29px;
  height:29px;
}
#u2961 {
  position:absolute;
  left:2px;
  top:6px;
  width:25px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2962_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:29px;
}
#u2962 {
  position:absolute;
  left:195px;
  top:772px;
  width:29px;
  height:29px;
}
#u2963 {
  position:absolute;
  left:2px;
  top:6px;
  width:25px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2964_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u2964 {
  position:absolute;
  left:351px;
  top:767px;
  width:40px;
  height:40px;
}
#u2965 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2966_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u2966 {
  position:absolute;
  left:526px;
  top:772px;
  width:30px;
  height:30px;
}
#u2967 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
