body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:760px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1359 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1360_img {
  position:absolute;
  left:0px;
  top:0px;
  width:440px;
  height:880px;
}
#u1360 {
  position:absolute;
  left:10px;
  top:10px;
  width:440px;
  height:880px;
}
#u1361 {
  position:absolute;
  left:0px;
  top:432px;
  width:440px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1362_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1362 {
  position:absolute;
  left:42px;
  top:114px;
  width:375px;
  height:667px;
}
#u1363 {
  position:absolute;
  left:0px;
  top:326px;
  width:375px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1364 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1365_div {
  position:absolute;
  left:0px;
  top:0px;
  width:388px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u1365 {
  position:absolute;
  left:38px;
  top:105px;
  width:388px;
  height:20px;
  color:#FFFFFF;
}
#u1366 {
  position:absolute;
  left:0px;
  top:2px;
  width:388px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1367_div {
  position:absolute;
  left:0px;
  top:0px;
  width:388px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u1367 {
  position:absolute;
  left:38px;
  top:105px;
  width:388px;
  height:20px;
  color:#FFFFFF;
}
#u1368 {
  position:absolute;
  left:0px;
  top:2px;
  width:388px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1369_div {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Light', 'PingFang SC Light', 'PingFang SC';
  font-weight:201;
  font-style:normal;
  font-size:11px;
  color:#FFFFFF;
  text-align:right;
}
#u1369 {
  position:absolute;
  left:360px;
  top:109px;
  width:35px;
  height:13px;
  font-family:'PingFangSC-Light', 'PingFang SC Light', 'PingFang SC';
  font-weight:201;
  font-style:normal;
  font-size:11px;
  color:#FFFFFF;
  text-align:right;
}
#u1370 {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  word-wrap:break-word;
}
#u1371_div {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Light', 'PingFang SC Light', 'PingFang SC';
  font-weight:201;
  font-style:normal;
  font-size:11px;
  color:#FFFFFF;
}
#u1371 {
  position:absolute;
  left:208px;
  top:109px;
  width:51px;
  height:13px;
  font-family:'PingFangSC-Light', 'PingFang SC Light', 'PingFang SC';
  font-weight:201;
  font-style:normal;
  font-size:11px;
  color:#FFFFFF;
}
#u1372 {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  white-space:nowrap;
}
#u1373_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:10px;
}
#u1373 {
  position:absolute;
  left:44px;
  top:110px;
  width:15px;
  height:10px;
}
#u1374 {
  position:absolute;
  left:0px;
  top:-3px;
  width:15px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1375_img {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:9px;
}
#u1375 {
  position:absolute;
  left:64px;
  top:111px;
  width:13px;
  height:9px;
}
#u1376 {
  position:absolute;
  left:0px;
  top:-4px;
  width:13px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1377_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:11px;
}
#u1377 {
  position:absolute;
  left:397px;
  top:110px;
  width:25px;
  height:11px;
}
#u1378 {
  position:absolute;
  left:0px;
  top:-2px;
  width:25px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1379_img {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:14px;
}
#u1379 {
  position:absolute;
  left:352px;
  top:108px;
  width:8px;
  height:14px;
}
#u1380 {
  position:absolute;
  left:0px;
  top:-1px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1381_img {
  position:absolute;
  left:0px;
  top:0px;
  width:377px;
  height:687px;
}
#u1381 {
  position:absolute;
  left:40px;
  top:105px;
  width:377px;
  height:687px;
  opacity:0.4;
}
#u1382 {
  position:absolute;
  left:2px;
  top:336px;
  width:373px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1383_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:50px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#FFFFFF;
}
#u1383 {
  position:absolute;
  left:43px;
  top:125px;
  width:375px;
  height:50px;
  font-size:18px;
  color:#FFFFFF;
}
#u1384 {
  position:absolute;
  left:2px;
  top:14px;
  width:371px;
  word-wrap:break-word;
}
#u1385_img {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:21px;
}
#u1385 {
  position:absolute;
  left:52px;
  top:140px;
  width:13px;
  height:21px;
}
#u1386 {
  position:absolute;
  left:2px;
  top:2px;
  width:9px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1387_img {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:230px;
}
#u1387 {
  position:absolute;
  left:40px;
  top:175px;
  width:380px;
  height:230px;
}
#u1388 {
  position:absolute;
  left:2px;
  top:107px;
  width:376px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1389_div {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
#u1389 {
  position:absolute;
  left:169px;
  top:418px;
  width:33px;
  height:19px;
  font-size:16px;
  color:#FFFFFF;
}
#u1390 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u1391_div {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFCC00;
}
#u1391 {
  position:absolute;
  left:259px;
  top:418px;
  width:33px;
  height:19px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFCC00;
}
#u1392 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u1393_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:36px;
  height:5px;
}
#u1393 {
  position:absolute;
  left:259px;
  top:437px;
  width:33px;
  height:2px;
}
#u1394 {
  position:absolute;
  left:2px;
  top:-7px;
  width:29px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1395_div {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FFFFFF;
}
#u1395 {
  position:absolute;
  left:292px;
  top:420px;
  width:21px;
  height:15px;
  font-size:12px;
  color:#FFFFFF;
}
#u1396 {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  white-space:nowrap;
}
#u1397_img {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:36px;
}
#u1397 {
  position:absolute;
  left:44px;
  top:452px;
  width:36px;
  height:36px;
}
#u1398 {
  position:absolute;
  left:2px;
  top:10px;
  width:32px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1399 {
  position:absolute;
  left:90px;
  top:458px;
  width:252px;
  height:25px;
}
#u1399_input {
  position:absolute;
  left:0px;
  top:0px;
  width:252px;
  height:25px;
  background-color:#797979;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u1400_div {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 204, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u1400 {
  position:absolute;
  left:352px;
  top:458px;
  width:53px;
  height:25px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u1401 {
  position:absolute;
  left:2px;
  top:4px;
  width:49px;
  word-wrap:break-word;
}
#u1402_div {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 204, 0, 0.847058823529412);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u1402 {
  position:absolute;
  left:352px;
  top:458px;
  width:53px;
  height:25px;
  color:#FFFFFF;
}
#u1403 {
  position:absolute;
  left:2px;
  top:4px;
  width:49px;
  word-wrap:break-word;
}
#u1404_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u1404 {
  position:absolute;
  left:47px;
  top:518px;
  width:30px;
  height:30px;
}
#u1405 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1406_div {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u1406 {
  position:absolute;
  left:87px;
  top:518px;
  width:25px;
  height:15px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u1407 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u1408_div {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:rgba(255, 255, 255, 0.768627450980392);
}
#u1408 {
  position:absolute;
  left:87px;
  top:533px;
  width:92px;
  height:15px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:rgba(255, 255, 255, 0.768627450980392);
}
#u1409 {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  white-space:nowrap;
}
#u1410_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:14px;
}
#u1410 {
  position:absolute;
  left:386px;
  top:534px;
  width:16px;
  height:14px;
}
#u1411 {
  position:absolute;
  left:2px;
  top:-1px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1412_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:14px;
}
#u1412 {
  position:absolute;
  left:360px;
  top:534px;
  width:16px;
  height:14px;
}
#u1413 {
  position:absolute;
  left:2px;
  top:-1px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1414_div {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:11px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
  color:rgba(255, 255, 255, 0.768627450980392);
}
#u1414 {
  position:absolute;
  left:87px;
  top:558px;
  width:45px;
  height:11px;
  font-size:10px;
  color:rgba(255, 255, 255, 0.768627450980392);
}
#u1415 {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  white-space:nowrap;
}
#u1416_img {
  position:absolute;
  left:0px;
  top:0px;
  width:316px;
  height:2px;
}
#u1416 {
  position:absolute;
  left:87px;
  top:579px;
  width:315px;
  height:1px;
}
#u1417 {
  position:absolute;
  left:2px;
  top:-8px;
  width:311px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1418_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u1418 {
  position:absolute;
  left:47px;
  top:590px;
  width:30px;
  height:30px;
}
#u1419 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1420_div {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u1420 {
  position:absolute;
  left:87px;
  top:590px;
  width:35px;
  height:15px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u1421 {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  white-space:nowrap;
}
#u1422_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:rgba(255, 255, 255, 0.768627450980392);
}
#u1422 {
  position:absolute;
  left:87px;
  top:605px;
  width:61px;
  height:15px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:rgba(255, 255, 255, 0.768627450980392);
}
#u1423 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u1424_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:14px;
}
#u1424 {
  position:absolute;
  left:386px;
  top:606px;
  width:16px;
  height:14px;
}
#u1425 {
  position:absolute;
  left:2px;
  top:-1px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1426_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:14px;
}
#u1426 {
  position:absolute;
  left:360px;
  top:606px;
  width:16px;
  height:14px;
}
#u1427 {
  position:absolute;
  left:2px;
  top:-1px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1428_div {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:11px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
  color:rgba(255, 255, 255, 0.768627450980392);
}
#u1428 {
  position:absolute;
  left:87px;
  top:630px;
  width:45px;
  height:11px;
  font-size:10px;
  color:rgba(255, 255, 255, 0.768627450980392);
}
#u1429 {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  white-space:nowrap;
}
#u1430_img {
  position:absolute;
  left:0px;
  top:0px;
  width:316px;
  height:2px;
}
#u1430 {
  position:absolute;
  left:87px;
  top:651px;
  width:315px;
  height:1px;
}
#u1431 {
  position:absolute;
  left:2px;
  top:-8px;
  width:311px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1432_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u1432 {
  position:absolute;
  left:47px;
  top:662px;
  width:30px;
  height:30px;
}
#u1433 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1434_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u1434 {
  position:absolute;
  left:87px;
  top:662px;
  width:49px;
  height:15px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u1435 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u1436_div {
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:rgba(255, 255, 255, 0.768627450980392);
}
#u1436 {
  position:absolute;
  left:87px;
  top:677px;
  width:114px;
  height:15px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:rgba(255, 255, 255, 0.768627450980392);
}
#u1437 {
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  white-space:nowrap;
}
#u1438_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:14px;
}
#u1438 {
  position:absolute;
  left:386px;
  top:678px;
  width:16px;
  height:14px;
}
#u1439 {
  position:absolute;
  left:2px;
  top:-1px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1440_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:14px;
}
#u1440 {
  position:absolute;
  left:360px;
  top:678px;
  width:16px;
  height:14px;
}
#u1441 {
  position:absolute;
  left:2px;
  top:-1px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1442_div {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:11px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
  color:rgba(255, 255, 255, 0.768627450980392);
}
#u1442 {
  position:absolute;
  left:87px;
  top:702px;
  width:45px;
  height:11px;
  font-size:10px;
  color:rgba(255, 255, 255, 0.768627450980392);
}
#u1443 {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  white-space:nowrap;
}
#u1444_img {
  position:absolute;
  left:0px;
  top:0px;
  width:316px;
  height:2px;
}
#u1444 {
  position:absolute;
  left:87px;
  top:723px;
  width:315px;
  height:1px;
}
#u1445 {
  position:absolute;
  left:2px;
  top:-8px;
  width:311px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1446_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u1446 {
  position:absolute;
  left:47px;
  top:734px;
  width:30px;
  height:30px;
}
#u1447 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1448_div {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u1448 {
  position:absolute;
  left:87px;
  top:734px;
  width:40px;
  height:15px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u1449 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u1450_div {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:rgba(255, 255, 255, 0.768627450980392);
}
#u1450 {
  position:absolute;
  left:87px;
  top:749px;
  width:52px;
  height:15px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:rgba(255, 255, 255, 0.768627450980392);
}
#u1451 {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  white-space:nowrap;
}
#u1452_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:14px;
}
#u1452 {
  position:absolute;
  left:386px;
  top:750px;
  width:16px;
  height:14px;
}
#u1453 {
  position:absolute;
  left:2px;
  top:-1px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1454_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:14px;
}
#u1454 {
  position:absolute;
  left:360px;
  top:750px;
  width:16px;
  height:14px;
}
#u1455 {
  position:absolute;
  left:2px;
  top:-1px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1456_div {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:11px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
  color:rgba(255, 255, 255, 0.768627450980392);
}
#u1456 {
  position:absolute;
  left:87px;
  top:774px;
  width:45px;
  height:11px;
  font-size:10px;
  color:rgba(255, 255, 255, 0.768627450980392);
}
#u1457 {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  white-space:nowrap;
}
#u1458_img {
  position:absolute;
  left:0px;
  top:0px;
  width:316px;
  height:2px;
}
#u1458 {
  position:absolute;
  left:87px;
  top:795px;
  width:315px;
  height:1px;
}
#u1459 {
  position:absolute;
  left:2px;
  top:-8px;
  width:311px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1460_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:80px;
}
#u1460 {
  position:absolute;
  left:460px;
  top:225px;
  width:300px;
  height:80px;
}
#u1461 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
