body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:939px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u5039 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5040_img {
  position:absolute;
  left:0px;
  top:0px;
  width:440px;
  height:880px;
}
#u5040 {
  position:absolute;
  left:0px;
  top:0px;
  width:440px;
  height:880px;
}
#u5041 {
  position:absolute;
  left:0px;
  top:432px;
  width:440px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5042_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5042 {
  position:absolute;
  left:32px;
  top:104px;
  width:375px;
  height:667px;
}
#u5043 {
  position:absolute;
  left:0px;
  top:326px;
  width:375px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5044 {
  position:absolute;
  left:26px;
  top:104px;
  width:387px;
  height:667px;
  overflow:hidden;
  touch-action:pan-x;
}
#u5044_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:387px;
  height:667px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u5044_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u5045 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5046_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Roboto Regular', 'Roboto';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u5046 {
  position:absolute;
  left:6px;
  top:0px;
  width:375px;
  height:667px;
  font-family:'Roboto Regular', 'Roboto';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u5047 {
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5048_img {
  position:absolute;
  left:0px;
  top:0px;
  width:374px;
  height:121px;
}
#u5048 {
  position:absolute;
  left:7px;
  top:33px;
  width:374px;
  height:121px;
}
#u5049 {
  position:absolute;
  left:2px;
  top:52px;
  width:370px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5050_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:351px;
}
#u5050 {
  position:absolute;
  left:6px;
  top:307px;
  width:375px;
  height:351px;
}
#u5051 {
  position:absolute;
  left:2px;
  top:168px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5052_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:24px;
  color:#FFFFFF;
}
#u5052 {
  position:absolute;
  left:161px;
  top:0px;
  width:49px;
  height:28px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:24px;
  color:#FFFFFF;
}
#u5053 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u5054_div {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:32px;
  color:#FFFFFF;
}
#u5054 {
  position:absolute;
  left:13px;
  top:0px;
  width:20px;
  height:38px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:32px;
  color:#FFFFFF;
}
#u5055 {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  white-space:nowrap;
}
#u5056_img {
  position:absolute;
  left:0px;
  top:0px;
  width:388px;
  height:2px;
}
#u5056 {
  position:absolute;
  left:0px;
  top:206px;
  width:387px;
  height:1px;
  opacity:0.7;
}
#u5057 {
  position:absolute;
  left:2px;
  top:-8px;
  width:383px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5058_img {
  position:absolute;
  left:0px;
  top:0px;
  width:388px;
  height:2px;
}
#u5058 {
  position:absolute;
  left:0px;
  top:305px;
  width:387px;
  height:1px;
  opacity:0.7;
}
#u5059 {
  position:absolute;
  left:2px;
  top:-8px;
  width:383px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5060_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u5060 {
  position:absolute;
  left:349px;
  top:174px;
  width:29px;
  height:17px;
  color:#999999;
}
#u5061 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u5062_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u5062 {
  position:absolute;
  left:343px;
  top:277px;
  width:37px;
  height:17px;
  color:#999999;
}
#u5063 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u5064_div {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:26px;
  background:inherit;
  background-color:rgba(250, 205, 19, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u5064 {
  position:absolute;
  left:317px;
  top:3px;
  width:52px;
  height:26px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u5065 {
  position:absolute;
  left:2px;
  top:4px;
  width:48px;
  word-wrap:break-word;
}
#u5066_img {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:35px;
}
#u5066 {
  position:absolute;
  left:93px;
  top:324px;
  width:71px;
  height:35px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u5067 {
  position:absolute;
  left:2px;
  top:8px;
  width:67px;
  word-wrap:break-word;
}
#u5068_div {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#999999;
}
#u5068 {
  position:absolute;
  left:12px;
  top:280px;
  width:21px;
  height:24px;
  font-size:20px;
  color:#999999;
}
#u5069 {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  white-space:nowrap;
}
#u5070_div {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:24px;
  color:#999999;
}
#u5070 {
  position:absolute;
  left:60px;
  top:278px;
  width:14px;
  height:28px;
  font-size:24px;
  color:#999999;
}
#u5071 {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  white-space:nowrap;
}
#u5072_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u5072 {
  position:absolute;
  left:108px;
  top:281px;
  width:20px;
  height:20px;
  opacity:0.8;
}
#u5073 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5074_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:73px;
}
#u5074 {
  position:absolute;
  left:20px;
  top:65px;
  width:81px;
  height:73px;
}
#u5075 {
  position:absolute;
  left:2px;
  top:28px;
  width:77px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5076 {
  position:absolute;
  left:14px;
  top:164px;
  width:364px;
  height:43px;
}
#u5076_input {
  position:absolute;
  left:0px;
  top:0px;
  width:364px;
  height:43px;
  background-color:transparent;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#FFFFFF;
  text-align:left;
}
#u5077 {
  position:absolute;
  left:293px;
  top:3px;
  width:88px;
  height:34px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u5078 {
  position:absolute;
  left:11px;
  top:217px;
  width:369px;
  height:43px;
}
#u5078_input {
  position:absolute;
  left:0px;
  top:0px;
  width:369px;
  height:43px;
  background-color:transparent;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#FFFFFF;
  text-align:left;
}
#u5079_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:374px;
  height:10px;
}
#u5079 {
  position:absolute;
  left:11px;
  top:164px;
  width:369px;
  height:5px;
}
#u5080 {
  position:absolute;
  left:2px;
  top:-6px;
  width:365px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5081_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:374px;
  height:10px;
}
#u5081 {
  position:absolute;
  left:10px;
  top:204px;
  width:369px;
  height:5px;
}
#u5082 {
  position:absolute;
  left:2px;
  top:-6px;
  width:365px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5083_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:374px;
  height:10px;
}
#u5083 {
  position:absolute;
  left:11px;
  top:216px;
  width:369px;
  height:5px;
}
#u5084 {
  position:absolute;
  left:2px;
  top:-6px;
  width:365px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5085_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:374px;
  height:10px;
}
#u5085 {
  position:absolute;
  left:8px;
  top:256px;
  width:369px;
  height:5px;
}
#u5086 {
  position:absolute;
  left:2px;
  top:-6px;
  width:365px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5087_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:10px;
  height:98px;
}
#u5087 {
  position:absolute;
  left:11px;
  top:164px;
  width:5px;
  height:93px;
}
#u5088 {
  position:absolute;
  left:2px;
  top:38px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5089_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:10px;
  height:98px;
}
#u5089 {
  position:absolute;
  left:375px;
  top:170px;
  width:5px;
  height:93px;
}
#u5090 {
  position:absolute;
  left:2px;
  top:38px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5091_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:374px;
  height:10px;
}
#u5091 {
  position:absolute;
  left:9px;
  top:159px;
  width:369px;
  height:5px;
}
#u5092 {
  position:absolute;
  left:2px;
  top:-6px;
  width:365px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5093_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:10px;
  height:58px;
}
#u5093 {
  position:absolute;
  left:7px;
  top:174px;
  width:5px;
  height:53px;
}
#u5094 {
  position:absolute;
  left:2px;
  top:18px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5095 {
  position:absolute;
  left:7px;
  top:0px;
  width:31px;
  height:37px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u5044_state1 {
  position:absolute;
  left:0px;
  top:0px;
  width:387px;
  height:667px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u5044_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u5096 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5097_div {
  position:absolute;
  left:0px;
  top:0px;
  width:381px;
  height:667px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Roboto Regular', 'Roboto';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u5097 {
  position:absolute;
  left:0px;
  top:0px;
  width:381px;
  height:667px;
  font-family:'Roboto Regular', 'Roboto';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u5098 {
  position:absolute;
  left:2px;
  top:326px;
  width:377px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5099_img {
  position:absolute;
  left:0px;
  top:0px;
  width:381px;
  height:58px;
}
#u5099 {
  position:absolute;
  left:0px;
  top:0px;
  width:381px;
  height:58px;
}
#u5100 {
  position:absolute;
  left:2px;
  top:21px;
  width:377px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5101_img {
  position:absolute;
  left:0px;
  top:0px;
  width:378px;
  height:2px;
}
#u5101 {
  position:absolute;
  left:2px;
  top:65px;
  width:377px;
  height:1px;
  opacity:0.8;
}
#u5102 {
  position:absolute;
  left:2px;
  top:-8px;
  width:373px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5103_img {
  position:absolute;
  left:0px;
  top:0px;
  width:378px;
  height:2px;
}
#u5103 {
  position:absolute;
  left:2px;
  top:138px;
  width:377px;
  height:1px;
  opacity:0.8;
}
#u5104 {
  position:absolute;
  left:2px;
  top:-8px;
  width:373px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5105_img {
  position:absolute;
  left:0px;
  top:0px;
  width:378px;
  height:2px;
}
#u5105 {
  position:absolute;
  left:2px;
  top:208px;
  width:377px;
  height:1px;
  opacity:0.8;
}
#u5106 {
  position:absolute;
  left:2px;
  top:-8px;
  width:373px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5107_div {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:32px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
#u5107 {
  position:absolute;
  left:11px;
  top:13px;
  width:54px;
  height:32px;
  font-size:16px;
  color:#FFFFFF;
}
#u5108 {
  position:absolute;
  left:2px;
  top:6px;
  width:50px;
  word-wrap:break-word;
}
#u5109_div {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:32px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
#u5109 {
  position:absolute;
  left:92px;
  top:13px;
  width:70px;
  height:32px;
  font-size:16px;
  color:#FFFFFF;
}
#u5110 {
  position:absolute;
  left:2px;
  top:6px;
  width:66px;
  word-wrap:break-word;
}
#u5111_div {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:32px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
#u5111 {
  position:absolute;
  left:183px;
  top:12px;
  width:70px;
  height:32px;
  font-size:16px;
  color:#FFFFFF;
}
#u5112 {
  position:absolute;
  left:2px;
  top:6px;
  width:66px;
  word-wrap:break-word;
}
#u5113_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:30px;
}
#u5113 {
  position:absolute;
  left:15px;
  top:88px;
  width:31px;
  height:30px;
}
#u5114 {
  position:absolute;
  left:2px;
  top:7px;
  width:27px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5115_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#FFFFFF;
}
#u5115 {
  position:absolute;
  left:54px;
  top:91px;
  width:73px;
  height:18px;
  font-size:18px;
  color:#FFFFFF;
}
#u5116 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u5117_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:17px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:30px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5117 {
  position:absolute;
  left:316px;
  top:97px;
  width:37px;
  height:17px;
}
#u5118 {
  position:absolute;
  left:2px;
  top:0px;
  width:33px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5119_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:22px;
}
#u5119 {
  position:absolute;
  left:316px;
  top:94px;
  width:23px;
  height:22px;
}
#u5120 {
  position:absolute;
  left:2px;
  top:3px;
  width:19px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5121_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:30px;
}
#u5121 {
  position:absolute;
  left:15px;
  top:161px;
  width:31px;
  height:30px;
}
#u5122 {
  position:absolute;
  left:2px;
  top:7px;
  width:27px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5123_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#FFFFFF;
}
#u5123 {
  position:absolute;
  left:54px;
  top:165px;
  width:73px;
  height:15px;
  font-size:18px;
  color:#FFFFFF;
}
#u5124 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u5125_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:23px;
}
#u5125 {
  position:absolute;
  left:346px;
  top:165px;
  width:24px;
  height:23px;
  color:#FFFFFF;
}
#u5126 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5127_div {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u5127 {
  position:absolute;
  left:215px;
  top:168px;
  width:131px;
  height:17px;
  color:#FFFFFF;
}
#u5128 {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  white-space:nowrap;
}
#u5129_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:30px;
}
#u5129 {
  position:absolute;
  left:15px;
  top:233px;
  width:31px;
  height:30px;
}
#u5130 {
  position:absolute;
  left:2px;
  top:7px;
  width:27px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5131_div {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#FFFFFF;
}
#u5131 {
  position:absolute;
  left:54px;
  top:237px;
  width:55px;
  height:22px;
  font-size:18px;
  color:#FFFFFF;
}
#u5132 {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  white-space:nowrap;
}
#u5133_img {
  position:absolute;
  left:0px;
  top:0px;
  width:378px;
  height:2px;
}
#u5133 {
  position:absolute;
  left:4px;
  top:286px;
  width:377px;
  height:1px;
  opacity:0.8;
}
#u5134 {
  position:absolute;
  left:2px;
  top:-8px;
  width:373px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5135_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:23px;
}
#u5135 {
  position:absolute;
  left:346px;
  top:240px;
  width:24px;
  height:23px;
}
#u5136 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5137_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:28px;
}
#u5137 {
  position:absolute;
  left:17px;
  top:306px;
  width:29px;
  height:28px;
}
#u5138 {
  position:absolute;
  left:2px;
  top:6px;
  width:25px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5139_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#FFFFFF;
}
#u5139 {
  position:absolute;
  left:54px;
  top:311px;
  width:37px;
  height:19px;
  font-size:18px;
  color:#FFFFFF;
}
#u5140 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u5141_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:23px;
}
#u5141 {
  position:absolute;
  left:348px;
  top:311px;
  width:24px;
  height:23px;
}
#u5142 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5143_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u5143 {
  position:absolute;
  left:293px;
  top:314px;
  width:43px;
  height:17px;
  color:#FFFFFF;
}
#u5144 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u5145_div {
  position:absolute;
  left:0px;
  top:0px;
  width:437px;
  height:214px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5145 {
  position:absolute;
  left:502px;
  top:99px;
  width:437px;
  height:214px;
}
#u5146 {
  position:absolute;
  left:2px;
  top:99px;
  width:433px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5147_div {
  position:absolute;
  left:0px;
  top:0px;
  width:426px;
  height:176px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5147 {
  position:absolute;
  left:513px;
  top:111px;
  width:426px;
  height:176px;
}
#u5148 {
  position:absolute;
  left:0px;
  top:0px;
  width:426px;
  word-wrap:break-word;
}
