body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:755px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u505 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u506_img {
  position:absolute;
  left:0px;
  top:0px;
  width:440px;
  height:990px;
}
#u506 {
  position:absolute;
  left:0px;
  top:0px;
  width:440px;
  height:990px;
}
#u507 {
  position:absolute;
  left:0px;
  top:487px;
  width:440px;
  visibility:hidden;
  word-wrap:break-word;
}
#u508_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:750px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u508 {
  position:absolute;
  left:32px;
  top:117px;
  width:375px;
  height:750px;
}
#u509 {
  position:absolute;
  left:0px;
  top:367px;
  width:375px;
  visibility:hidden;
  word-wrap:break-word;
}
#u511 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u512_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u512 {
  position:absolute;
  left:33px;
  top:110px;
  width:375px;
  height:20px;
  color:#FFFFFF;
}
#u513 {
  position:absolute;
  left:0px;
  top:2px;
  width:375px;
  visibility:hidden;
  word-wrap:break-word;
}
#u514_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u514 {
  position:absolute;
  left:33px;
  top:110px;
  width:375px;
  height:20px;
  color:#FFFFFF;
}
#u515 {
  position:absolute;
  left:0px;
  top:2px;
  width:375px;
  visibility:hidden;
  word-wrap:break-word;
}
#u516_div {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Light', 'PingFang SC Light', 'PingFang SC';
  font-weight:201;
  font-style:normal;
  font-size:11px;
  color:#FFFFFF;
  text-align:right;
}
#u516 {
  position:absolute;
  left:343px;
  top:114px;
  width:33px;
  height:13px;
  font-family:'PingFangSC-Light', 'PingFang SC Light', 'PingFang SC';
  font-weight:201;
  font-style:normal;
  font-size:11px;
  color:#FFFFFF;
  text-align:right;
}
#u517 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  word-wrap:break-word;
}
#u518_div {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Light', 'PingFang SC Light', 'PingFang SC';
  font-weight:201;
  font-style:normal;
  font-size:11px;
  color:#FFFFFF;
}
#u518 {
  position:absolute;
  left:196px;
  top:114px;
  width:51px;
  height:13px;
  font-family:'PingFangSC-Light', 'PingFang SC Light', 'PingFang SC';
  font-weight:201;
  font-style:normal;
  font-size:11px;
  color:#FFFFFF;
}
#u519 {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  white-space:nowrap;
}
#u520_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:10px;
}
#u520 {
  position:absolute;
  left:39px;
  top:115px;
  width:15px;
  height:10px;
}
#u521 {
  position:absolute;
  left:0px;
  top:-3px;
  width:15px;
  visibility:hidden;
  word-wrap:break-word;
}
#u522_img {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:9px;
}
#u522 {
  position:absolute;
  left:59px;
  top:116px;
  width:13px;
  height:9px;
}
#u523 {
  position:absolute;
  left:0px;
  top:-4px;
  width:13px;
  visibility:hidden;
  word-wrap:break-word;
}
#u524_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:11px;
}
#u524 {
  position:absolute;
  left:379px;
  top:115px;
  width:25px;
  height:11px;
}
#u525 {
  position:absolute;
  left:0px;
  top:-2px;
  width:25px;
  visibility:hidden;
  word-wrap:break-word;
}
#u526_img {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:14px;
}
#u526 {
  position:absolute;
  left:335px;
  top:113px;
  width:8px;
  height:14px;
}
#u527 {
  position:absolute;
  left:0px;
  top:-1px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u528_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:210px;
}
#u528 {
  position:absolute;
  left:33px;
  top:180px;
  width:375px;
  height:210px;
  opacity:0.7;
}
#u529 {
  position:absolute;
  left:2px;
  top:97px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u530_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u530 {
  position:absolute;
  left:196px;
  top:260px;
  width:50px;
  height:50px;
}
#u531 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u532_div {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FACD13;
}
#u532 {
  position:absolute;
  left:160px;
  top:400px;
  width:33px;
  height:19px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FACD13;
}
#u533 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u534 {
  position:absolute;
  left:250px;
  top:400px;
}
#u534_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u534_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u535_div {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
#u535 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:19px;
  font-size:16px;
  color:#FFFFFF;
}
#u536 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u537_div {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FFFFFF;
}
#u537 {
  position:absolute;
  left:34px;
  top:2px;
  width:21px;
  height:15px;
  font-size:12px;
  color:#FFFFFF;
}
#u538 {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  white-space:nowrap;
}
#u539_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:36px;
  height:5px;
}
#u539 {
  position:absolute;
  left:160px;
  top:419px;
  width:33px;
  height:2px;
}
#u540 {
  position:absolute;
  left:2px;
  top:-7px;
  width:29px;
  visibility:hidden;
  word-wrap:break-word;
}
#u541_img {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:48px;
}
#u541 {
  position:absolute;
  left:42px;
  top:432px;
  width:48px;
  height:48px;
}
#u542 {
  position:absolute;
  left:2px;
  top:16px;
  width:44px;
  visibility:hidden;
  word-wrap:break-word;
}
#u543_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u543 {
  position:absolute;
  left:110px;
  top:438px;
  width:57px;
  height:19px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u544 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u545_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u545 {
  position:absolute;
  left:110px;
  top:407px;
  width:57px;
  height:17px;
}
#u546 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u547_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:14px;
  background:inherit;
  background-color:rgba(250, 205, 19, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:8px;
  color:#FFFFFF;
}
#u547 {
  position:absolute;
  left:110px;
  top:460px;
  width:57px;
  height:14px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:8px;
  color:#FFFFFF;
}
#u548 {
  position:absolute;
  left:2px;
  top:2px;
  width:53px;
  word-wrap:break-word;
}
#u549_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:14px;
  background:inherit;
  background-color:rgba(250, 205, 19, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:8px;
  color:#FFFFFF;
}
#u549 {
  position:absolute;
  left:167px;
  top:460px;
  width:43px;
  height:14px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:8px;
  color:#FFFFFF;
}
#u550 {
  position:absolute;
  left:2px;
  top:2px;
  width:39px;
  word-wrap:break-word;
}
#u551 {
  position:absolute;
  left:330px;
  top:438px;
}
#u551_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u551_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u552_div {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:36px;
  background:inherit;
  background-color:rgba(250, 205, 19, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u552 {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:36px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u553 {
  position:absolute;
  left:2px;
  top:10px;
  width:66px;
  word-wrap:break-word;
}
#u554_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u554 {
  position:absolute;
  left:42px;
  top:500px;
  width:57px;
  height:17px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u555 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u556_div {
  position:absolute;
  left:0px;
  top:0px;
  width:358px;
  height:103px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u556 {
  position:absolute;
  left:42px;
  top:527px;
  width:358px;
  height:103px;
  color:#FFFFFF;
}
#u557 {
  position:absolute;
  left:0px;
  top:0px;
  width:358px;
  word-wrap:break-word;
}
#u558_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:50px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#FFFFFF;
}
#u558 {
  position:absolute;
  left:33px;
  top:130px;
  width:375px;
  height:50px;
  font-size:18px;
  color:#FFFFFF;
}
#u559 {
  position:absolute;
  left:2px;
  top:14px;
  width:371px;
  word-wrap:break-word;
}
#u560_img {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:21px;
}
#u560 {
  position:absolute;
  left:42px;
  top:145px;
  width:13px;
  height:21px;
}
#u561 {
  position:absolute;
  left:2px;
  top:2px;
  width:9px;
  visibility:hidden;
  word-wrap:break-word;
}
#u562_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u562 {
  position:absolute;
  left:46px;
  top:643px;
  width:16px;
  height:16px;
}
#u563 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u564_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u564 {
  position:absolute;
  left:62px;
  top:642px;
  width:43px;
  height:17px;
  color:#FFFFFF;
}
#u565 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u566_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:14px;
}
#u566 {
  position:absolute;
  left:140px;
  top:644px;
  width:16px;
  height:14px;
}
#u567 {
  position:absolute;
  left:2px;
  top:-1px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u568_div {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u568 {
  position:absolute;
  left:160px;
  top:641px;
  width:25px;
  height:17px;
  color:#FFFFFF;
}
#u569 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u570_div {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u570 {
  position:absolute;
  left:320px;
  top:643px;
  width:66px;
  height:17px;
  color:#FFFFFF;
}
#u571 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u572_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:24px;
}
#u572 {
  position:absolute;
  left:359px;
  top:677px;
  width:27px;
  height:24px;
}
#u573 {
  position:absolute;
  left:2px;
  top:4px;
  width:23px;
  visibility:hidden;
  word-wrap:break-word;
}
#u574_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:23px;
}
#u574 {
  position:absolute;
  left:265px;
  top:677px;
  width:24px;
  height:23px;
}
#u575 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u576_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:23px;
}
#u576 {
  position:absolute;
  left:67px;
  top:677px;
  width:24px;
  height:23px;
}
#u577 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u578_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:23px;
}
#u578 {
  position:absolute;
  left:164px;
  top:677px;
  width:24px;
  height:23px;
}
#u579 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u580_div {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FACD13;
}
#u580 {
  position:absolute;
  left:62px;
  top:700px;
  width:35px;
  height:17px;
  color:#FACD13;
}
#u581 {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  white-space:nowrap;
}
#u582_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FFFFFF;
}
#u582 {
  position:absolute;
  left:158px;
  top:702px;
  width:37px;
  height:15px;
  font-size:12px;
  color:#FFFFFF;
}
#u583 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u584_div {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FACD13;
}
#u584 {
  position:absolute;
  left:260px;
  top:700px;
  width:35px;
  height:17px;
  color:#FACD13;
}
#u585 {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  white-space:nowrap;
}
#u586_div {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FFFFFF;
}
#u586 {
  position:absolute;
  left:360px;
  top:701px;
  width:25px;
  height:15px;
  font-size:12px;
  color:#FFFFFF;
}
#u587 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u588_div {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u588 {
  position:absolute;
  left:42px;
  top:760px;
  width:99px;
  height:17px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u589 {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  white-space:nowrap;
}
#u590_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:85px;
}
#u590 {
  position:absolute;
  left:42px;
  top:787px;
  width:150px;
  height:85px;
}
#u591 {
  position:absolute;
  left:2px;
  top:34px;
  width:146px;
  visibility:hidden;
  word-wrap:break-word;
}
#u592_div {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u592 {
  position:absolute;
  left:202px;
  top:793px;
  width:169px;
  height:17px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u593 {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  white-space:nowrap;
}
#u594_div {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u594 {
  position:absolute;
  left:202px;
  top:820px;
  width:75px;
  height:17px;
  color:#FFFFFF;
}
#u595 {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  white-space:nowrap;
}
#u596 {
  position:absolute;
  left:330px;
  top:438px;
  visibility:hidden;
}
#u596_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u596_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u597_div {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:36px;
  background:inherit;
  background-color:rgba(250, 205, 19, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u597 {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:36px;
  opacity:0.9;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u598 {
  position:absolute;
  left:2px;
  top:10px;
  width:66px;
  word-wrap:break-word;
}
#u599_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:243px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u599 {
  position:absolute;
  left:455px;
  top:229px;
  width:300px;
  height:243px;
  font-size:16px;
}
#u600 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
